<html>
  <head>
    <title>WEATHER</title>
    <link rel="icon" href="/image/LOGO.png">
    <link rel="stylesheet" href="./css/style.css" />

  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>{{errorMessage}}</p>
    </div>
      {{>footer}}
  </body>

</html>