<html>
  <head>
    <title>ABOUT</title>
    <link rel="icon" href="/image/LOGO.png">
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="main-content">
      <script></script>
    {{>header}}
    <h1>{{title}}</h1>
    <img class ="portrait" src="image/pikachu.png" />
    </div>
       {{>footer}}

  </body>

</html>