<html>
  <head>
    <title>HELP</title>
    <link rel="icon" href="/image/LOGO.png">
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <h1>{{title}}</h1>
    <p>PING</p>
    </div>
    {{>footer}}
  </body>

</html>